
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

 * {
margin: 0;
padding: 0;
  }
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
video{
    height: 100%;
    width: 100%;
    object-fit:cover;
    min-height: 500px;
}
.header {
    position: fixed;
    width: 100%;
    height: 90px;
    z-index : 999;
    display: flex;
    flex-direction: column;
}
.header-scroll {
    background-color: rgb(56, 127, 185);
}
.nav{
    position: relative;
   height: 90px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20%;
    
}
.nav img{
    width: 240px;
    height: 72px;
}

.join-about{
    display: flex;
    gap: 20px;
}

.join-about a , .language {
    color: white;
    font-size: 25px;
    text-decoration: none;
}
.dropdown-language {
    position: absolute;
    width: 230px;
    height: 150px;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    right:20% ;
    top: 70px;
    background-color:rgb(74, 143, 200);
    border-radius: 10px; 
}

.dropdown-language-open{
    display: flex;
}
.drop-item , .language {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.drop-item img , .language img {
    
    width: 30px;
    height: 30px;
}


.togglebtn  i{
    display: none;
    width: 50px;
    height: 50px;
    color: #FFFFFF;
   
}
.dropdown-button{
    position: absolute;
    display :none;
    width: 300px;
    height:200px ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    top: 70px;
     right: 8%;
    border-radius: 20px;
    background-color: rgb(74, 143, 200);
}

.dropdown-button .join-about{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dropdown-button .dropdown-language{
    top: 210px;
    right: 4%;
    width: 280px;
}


/* section 1 of class name overview style starts here */

.overview{
   /* position: fixed; */
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.myvideo {
    filter: brightness(35%);
}
.overview-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding:  0 20%;
   
}

.overview-text p{
    text-align: center;
    font-size: 80px ;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color:#FFFFFF
}

.join-button{
    width: 250px;
    height: 64px;
    background-color: #007FFF;
    color: #FFFFFF;
    border-radius:30px ;
    border-color: #007FFF;
    font-size: 20px ;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.join-button:hover{
    color: #007FFF;
    background-color: #FFFFFF;
}

/* section 2 of class name details style starts here */

.details{
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 3% 20% 0;
 gap: 20px;
}
.details-title{
    font-size: 20px; 
    
}

.launch{
    width: 55vw;
    max-width: 650px;
    min-width: 300px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: #FFFFFF;
    padding: 2%;
    border-radius: 20px;
}
.launch-time{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.launch-number{
    margin: 0;
    font-size: 30px;
    font-family: "Roboto" , sans-serif;
    font-weight: 400;
}
.launch-description{
    margin: 0;
    font-size: large;
    font-family: "Roboto" , sans-serif;
    font-weight: 300;
}
.launch-week{
    width: 60%;
    border-left: 3px solid #886f6f;
    border-right: 3px solid #886f6f;

}

/* section 3 of class name features style starts here */
.features{
    display: flex;
    flex-direction: column;
  align-items: center;
  padding: 0 20%;
  gap: 40px;
  margin: 30px 0;
}
.maprendering{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.canava{
    width: 100%;
    display: flex;
    gap: 50px;
    
}
.canava-img{
    width: 90vw;
}
.canava-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.features-text{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    font-weight: 400;
    line-height: 30px;
    filter: contrast(3.96);
    fill-opacity: 50;
    
}
.aboutus{
    color: #007FFF;
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    filter: contrast(3.64);
    font-weight: bold;
}
.canava-heading{
    margin: 6px 0;
    font-size: 24px;
    filter: contrast(20);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* swiper styling */

/* div of class name how-to-join style starts here */
.how-to-join{
    display:flex ;
    justify-content: space-evenly;
    padding: 5% 20%;
    gap: 40px;

}
.joinus1, .joinus2{
    width: 50%;
    display: flex;
    flex-direction: column;
   align-items: center;
   gap: 40px;
}
.getemail{
    height: 50px;
    border: none;
}
.joinus-heading{
    margin: 0;
}

/* footer of class name footer style starts here */

.footer{
    background:#45678a69;
    padding: 0 20%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #FFFFFF;
    height: 50vh;
    padding-bottom: 40px;
    
   
}

.meet {

    display: flex;
    justify-content: space-between;
    padding-top: 40px
   
    
}
.social{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.social-icon{
    display: flex;
    justify-content: space-between;
}
.footer-heading{
    font-family: "Roboto" , sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: #007FFF;
    padding:  5px 0 ;
}

.footer-text{
    font-size: larger;
    line-height: 30px;
}


@media (width < 1340px){
    .nav ,.details ,.features,.how-to-join, .footer{
        padding: 0 12%;
    }
    .overview-text{
        padding: 0;
    }
    .dropdown-language {
        right: 10%;
    }
   
}
@media (width < 1024px){
    .nav ,.details ,.features,.how-to-join, .footer{
        padding: 0 10%;
    }

    /* .overview-text  */
    .overview-text p{
        font-size: 3.8rem;
    }
      
}
@media (width < 805px){
    .nav ,.details ,.features,.how-to-join, .footer{
        padding: 0 5%;
    }
 
    .togglebtn i{
        display :  flex;
        justify-content: center;
        align-items: center;
    }
    .how-to-join{
        margin: 30px 0;
    }

    .overview-text p{
        font-size: 3.2rem;
    }
    .join-about, .language{
        display: none;
    }
    .togglebtn i{
        display: flex;
    }
    .launch{
        min-width: 450px;
    }
    .ddbstatus{ 
        display :flex;
     
    }
    .language-in-toggle{
        display: flex;
    }
    .ddtle{
        display: flex;
    }
    .dropdown-language-open{
        display: none;
    }
    .meet{
        /* gap: 70px; */
        padding-top: 30px;
    }
    .canava , .how-to-join , .meet,.footer{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
        /* align-items: center; */
    }
    .canava img{
        width: 60vw;
        max-height: 200px;
        height: 40vh;
        max-width: 400px;
        margin: 0 auto;
    }
    .joinus-heading{
        font-size: 2rem;
        text-align: center;
    }
    .footer{
        height: 60vh;
    }
}
@media(width < 500px){
    .nav{
        height: 60px;
    }
    .nav img{
        width: 150px;
        height: 50px;
    }
    .overview-text p{
        font-size: 2.7rem;
    }
    .meet{
        gap: 70px;
        padding-top: 30px;
    }
    .footer{
        height: 80vh;
    }
     .meet{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .launch{
        min-width: 280px;
    }
    .hello{
        width: 90vw;
    }
    .swipper-img-container{
        display: none ;
    }
}